*.py[co]
env/
src/
logs/
.idea
*.log
.settings/
*settings_local.py
.codeintel/
.project
.pydevproject
cities.json
countries.json
.coverage
*.sublime-project
*.sublime-workspace
*.un~
*.pid
.env/
test.py
dump.rdb
docs/_build/
*.cache
pids/*
common/assets/*
keys/*
uniq/settings/local.py
uniq/settings/test.py
*.swp
_trial_temp/
supervisord.pid